<div class="flex justify-center items-center">
  <mat-card class="w-10/12 md:w-1/2 lg:w-4/12 p-2 shadow-md">
    <mat-card-header>
      <h5>Zaloguj się</h5>
    </mat-card-header>
    <mat-card-content>
      <form novalidate [formGroup]="loginForm" class="flex flex-col" (ngSubmit)="handleOnSubmit($event)">
        <mat-form-field>
          <mat-label>Login</mat-label>
          <input matInput formControlName="username" placeholder="Login" value="">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Hasło</mat-label>
          <input matInput formControlName="password" type="password" placeholder="Hasło" value="">
        </mat-form-field>
        <app-button class="self-end" title="Zaloguj" type="submit"/>
      </form>
    </mat-card-content>
  </mat-card>
</div>

